/* 
CSS SPECIFICITY HIERARCHY
1. inline styles
2. id selectors
3. class selectors
4. tag selectors
*/


menu{
	background-color:yellow;
	border-style:dashed;
	border-color:red;

}
body{

	background-color:dodgerblue;
}

.item{

	text-decoration: underline;
}
.description{
	/*tag comment */
	font-size: 25px;
}

/*	class selector */
.name-of-class{
	color:tomato;

}
.bold-tomato{
	font:blue;
}

/* id selector */
#quotes{
	font-style:italic;
}
#special-border{
	border: 3px solid grey;
}